/appium-e2e/node_modules/
/node_modules/
/appium-e2e/dist/
/appium-e2e/android/
/AndroidClient/.gradle/
/AndroidClient/app/build/
/AndroidClient/local.properties
/Server/dist/

# Environment variables
.env
.env.local
.env.*.local
